<div class="wrapper">
			<div class="main">
				
				<!-- Nav -->
				<nav class="nav" role="navigation" id="navigation">
					<ul class="nav-list">
						<li class="nav-item">
							<a href="{{site.baseurl}}/" class="{% if page.url == '/index.html' %}current{% endif %}" rel="home">Home</a>
							
						</li>
						
						<li class="nav-item">
							<a href="{{site.baseurl}}/marine-mammals.html" class="{% if page.url contains 'marine-mammals' or page.url contains 'walruses' %}current{% endif %}" >Marine Animals</a>
							<ul class="nav-submenu">
								<li class="nav-submenu-item">
									<a href="{{site.baseurl}}/walruses.html">Polar Bears</a>
								</li>
								<li class="nav-submenu-item">
									<a href="{{site.baseurl}}/walruses.html">Seals</a>
								</li>
								<li class="nav-submenu-item">
									<a href="{{site.baseurl}}/walruses.html">Walruses</a>
								</li>
								<li class="nav-submenu-item">
									<a href="{{site.baseurl}}/walruses.html">Whales</a>
								</li>
							</ul>
						</li>
                        
                        					  
                        
                        <li class="nav-item">
							<a href="{{site.baseurl}}/marine-mammals.html">Land Animals</a>
							<ul class="nav-submenu">
								<li class="nav-submenu-item">
									<a href="{{site.baseurl}}/walruses.html">Arctic Fox</a>
								</li>
								<li class="nav-submenu-item">
									<a href="{{site.baseurl}}/walruses.html">Caribou</a>
								</li>
								<li class="nav-submenu-item">
									<a href="{{site.baseurl}}/walruses.html">Arctic Wolf</a>
								</li>
								<li class="nav-submenu-item">
									<a href="{{site.baseurl}}/walruses.html">Snowy Owl</a>
								</li>
							</ul>
						</li>
                 
                        
                        <li class="nav-item">
							<a href="{{site.baseurl}}/marine-mammals.html">Survival or Extinction?</a>
							<ul class="nav-submenu">
                            	<li class="nav-submenu-item">
									<a href="{{site.baseurl}}/walruses.html">Envoronmental Challenges</a>
								</li>
							             
                            
								<li class="nav-submenu-item">
									<a href="{{site.baseurl}}/walruses.html">Endangered Arctic Wildlife</a>
								</li>
								<li class="nav-submenu-item">
									<a href="{{site.baseurl}}/walruses.html">Future of Arctic Mammals</a>
								</li>
								
							</ul>
						</li>
                                         
					</ul>
				</nav>
				<!-- /Nav -->
				
				
					
				</div>
			</div>

