<!doctype html>
<html lang="en">
<head>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>Discovery of the Amazing Arctic Wildlife; Ottawa, Canada</title>
    <meta name="description" content="Discovery of the Arctic environment and its amazing wildlife">
		<link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
		<link href="{{site.baseurl}}/css/navigation.css" rel="stylesheet">
<!--facebook-->
<meta property="og:type" content="article">
<meta property="og:title" content="Discovery of the Amazing Arctic wildlife; Ottawa, Canada">
<meta property="og:url" content="http://svetlana-kurmeleva.github.io/large-data-website/">
<!-- Image size: minimum 200x200; recommended 1500x1500-->
<meta property="og:image" content="http://svetlana-kurmeleva.github.io/large-data-website//img/arctic-landscape.gif">
<meta property="og:description" content="Photo of the Arctic Landscape">
<meta property="og:site_name" content="Arctic Discovery">
<!--Twitter-->
<meta property="twitter:card" content="article">
<meta property="twitter:title" content="Discovery of the Arctic environment and its amazing wildlife">
<meta property="twitter:url" content="http://svetlana-kurmeleva.github.io/large-data-website/">
<!-- Image size: 120x120--  No twitter images of this size-->



</head>

<body id="top">
<ul class="skiplinks">
<li><a href="#main">Skip to primary content</a></li>
<li><a href="#complementary">Skip to secondary content</a></li>
<li><a href="#navigation">Skip to navigation</a></li>
</ul>
<div class="wrapper">
			<div class="main">
				
				<!-- Nav -->
				<nav class="nav" role="navigation" id="navigation">
					<ul class="nav-list">
						<li class="nav-item">
							<a href="index.html" class="selected" rel="home">Home</a>
							
						</li>
						<li class="nav-item">
							<a href="ecosystem.html">Ecosystem</a>
						</li>
						<li class="nav-item">
							<a href="marine-mammals.html">Marine Animals</a>
							<ul class="nav-submenu">
								<li class="nav-submenu-item">
									<a href="walruses.html">Polar Bears</a>
								</li>
								<li class="nav-submenu-item">
									<a href="walruses.html">Seals</a>
								</li>
								<li class="nav-submenu-item">
									<a href="walruses.html">Walruses</a>
								</li>
								<li class="nav-submenu-item">
									<a href="walruses.html">Whales</a>
								</li>
							</ul>
						</li>
                        
                        					  
                        
                        <li class="nav-item">
							<a href="marine-mammals.html">Land Animals</a>
							<ul class="nav-submenu">
								<li class="nav-submenu-item">
									<a href="walruses.html">Arctic Fox</a>
								</li>
								<li class="nav-submenu-item">
									<a href="walruses.html">Caribou</a>
								</li>
								<li class="nav-submenu-item">
									<a href="walruses.html">Arctic Wolf</a>
								</li>
								<li class="nav-submenu-item">
									<a href="walruses.html">Snowy Owl</a>
								</li>
							</ul>
						</li>
                 
                        
                        <li class="nav-item">
							<a href="marine-mammals.html">Survival or Extinction?</a>
							<ul class="nav-submenu">
                            	<li class="nav-submenu-item">
									<a href="environmental-challenges.html">Envoronmental Challenges</a>
								</li>
							             
                            
								<li class="nav-submenu-item">
									<a href="environmental-challenges.html">Endangered Arctic Wildlife</a>
								</li>
								<li class="nav-submenu-item">
									<a href="environmental-challenges.html">Future of Arctic Mammals</a>
								</li>
								
							</ul>
						</li>
                                         
					</ul>
				</nav>
				<!-- /Nav -->
				
				
					
				</div>
			</div>

	{{content}}	


 <footer>       
       
              <p class="copyright"> © Arctic Discovery <!--Sources: <a href="http://wikipedia.org" rel="external">Wikipedia.org</a>--><a href="#top">Top</a>	</p>				  					
        </footer>








<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="js/flaunt.js"></script> 
		
		<script>
			var _gaq=[['_setAccount','UA-20440416-10'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src='//www.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)})(document,'script'); 
		</script>
		
	
	

</body>




</html>
