<!doctype html>
<html lang="en">
<head>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>Discovery of the Amazing Arctic Wildlife; Ottawa, Canada</title>
    <meta name="description" content="Discovery of the Arctic environment and its amazing wildlife">
		<link href="css/main.css" rel="stylesheet">
		<link href="css/navigation.css" rel="stylesheet">
<!--facebook-->
<meta property="og:type" content="article">
<meta property="og:title" content="Discovery of the Amazing Arctic wildlife; Ottawa, Canada">
<meta property="og:url" content="http://svetlana-kurmeleva.github.io/large-data-website/">
<!-- Image size: minimum 200x200; recommended 1500x1500-->
<meta property="og:image" content="http://svetlana-kurmeleva.github.io/large-data-website//img/arctic-landscape.gif">
<meta property="og:description" content="Photo of Arctic Landscape">
<meta property="og:site_name" content="Arctic Discovery">
<!--Twitter-->
<meta property="twitter:card" content="article">
<meta property="twitter:title" content="Discovery of the Arctic environment and its amazing wildlife">
<meta property="twitter:url" content="http://svetlana-kurmeleva.github.io/large-data-website/">
<!-- Image size: 120x120--  No twitter images of this size-->



</head>

<body>

		
		<div class="wrapper">
			<div class="main">
				
				<!-- Nav -->
				<nav class="nav">
					<ul class="nav-list">
						<li class="nav-item">
							<a href="?=home" rel="home">Home</a>
							
						</li>
						<li class="nav-item">
							<a href="?=Ecosystem">Ecosystem</a>
						</li>
						<li class="nav-item">
							<a href="?=Maritime Animals">Maritime Animals</a>
							<ul class="nav-submenu">
								<li class="nav-submenu-item">
									<a href="?=Polar Bears">Polar Bears</a>
								</li>
								<li class="nav-submenu-item">
									<a href="?=Seals">Seals</a>
								</li>
								<li class="nav-submenu-item">
									<a href="?=Walruses">Walruses</a>
								</li>
								<li class="nav-submenu-item">
									<a href="?=Whales">Whales</a>
								</li>
							</ul>
						</li>
                        
                        					  
                        
                        <li class="nav-item">
							<a href="?=Land Animals">Land Animals</a>
							<ul class="nav-submenu">
								<li class="nav-submenu-item">
									<a href="?=Arctic Fox">Arctic Fox</a>
								</li>
								<li class="nav-submenu-item">
									<a href="?=Caribou">Caribou</a>
								</li>
								<li class="nav-submenu-item">
									<a href="?=Arctic Wolf">Arctic Wolf</a>
								</li>
								<li class="nav-submenu-item">
									<a href="?=Snowy Owl">Snowy Owl</a>
								</li>
							</ul>
						</li>
                        
                                                
                        <li class="nav-item">
							<a href="?=Challenges">Challenges</a>
							<ul class="nav-submenu">
								<li class="nav-submenu-item">
									<a href="?=Climate Change">Climate Change</a>
								</li>
								<li class="nav-submenu-item">
									<a href="?=Marine Traffic">Marine Traffic</a>
								</li>
								<li class="nav-submenu-item">
									<a href="?=Oil and Gas Development">Oil and Gas Development</a>
								</li>
								<li class="nav-submenu-item">
									<a href="?=Commercial Fishing">Commercial Fishing</a>
								</li>
							</ul>
						</li>
                        
                        <li class="nav-item">
							<a href="?=Survival or Extinction?">Survival or Extinction?</a>
							<ul class="nav-submenu">
								<li class="nav-submenu-item">
									<a href="?=Endangered Arctic Wildlife">Endangered Arctic Wildlife</a>
								</li>
								<li class="nav-submenu-item">
									<a href="?=Marine Traffic">Future of Arctic Mammals</a>
								</li>
								
							</ul>
						</li>
                                         
					</ul>
				</nav>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="js/flaunt.js"></script> <!--Todd Motto Labs
	URL: www.toddmotto.com-->
	
		
		<script>
			var _gaq=[['_setAccount','UA-20440416-10'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src='//www.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)})(document,'script'); 
		</script>
				

</body>
</html>
