<!doctype html>
<html lang="en">
<head>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<title>Discovery of the Amazing Arctic Wildlife; Ottawa, Canada</title>
    <meta name="description" content="Discovery of the Arctic environment and its amazing wildlife">
		<link href="css/main.css" rel="stylesheet">
		<link href="css/navigation.css" rel="stylesheet">
<!--facebook-->
<meta property="og:type" content="article">
<meta property="og:title" content="Discovery of the Amazing Arctic wildlife; Ottawa, Canada">
<meta property="og:url" content="http://svetlana-kurmeleva.github.io/large-data-website/">
<!-- Image size: minimum 200x200; recommended 1500x1500-->
<meta property="og:image" content="http://svetlana-kurmeleva.github.io/large-data-website//img/arctic-landscape.gif">
<meta property="og:description" content="Photo of Arctic Landscape">
<meta property="og:site_name" content="Arctic Discovery">
<!--Twitter-->
<meta property="twitter:card" content="article">
<meta property="twitter:title" content="Discovery of the Arctic environment and its amazing wildlife">
<meta property="twitter:url" content="http://svetlana-kurmeleva.github.io/large-data-website/">
<!-- Image size: 120x120--  No twitter images of this size>



</head>

<body>
</body>
</html>
